<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>Site is Under Maintainence!</h1>
        <p>Sorry For the inconvinience,please try after 24 hours</p>
    </body>

</html>